*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-weight: 400;
	line-height: 1.5;
} 

/* Header */

header {
	width: 100%;
	height: 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 1;
} 

header h1 {
	margin-left: 1.5rem;
}

nav {
	margin-right: 1.5rem;
} 

nav ul {
	display: flex;
	list-style-type: none;
} 

nav li:not(:last-child) {
	padding-left: 0.5rem;
} 

nav a {
	color: black;
	text-decoration: none;
} 

/* Banner Section */ 

.banner {
	width: 100%;
	background-color: red;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
} 

.banner .cta h1 {
	font-size: 3rem;
	font-weight: bold;
}

.banner button {
	background-color: gray;
	width: 5rem;
	height: 2rem;
	border: 1px solid black;
	border-radius: 30px;
}